{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

	<div class="row-fluid">
  	<div class="span12">
  		<legend><font color="#676767">About</font></legend>
  		<p align="justify">
  			<font size="3" color="#111111">
  				  Supervised learning is the machine learning task of inferring a function from labeled training data.
				  <br/><br/>
				  The training data consist of a set of training examples. 
				  In supervised learning, each example is a pair consisting of an input object (typically a vector) 
				  and a desired output value (also called the supervisory signal).
				  <br/><br/>
				  A supervised learning algorithm analyzes the training data and produces an inferred function, which 
				  can be used for mapping new examples. An optimal scenario will allow for the algorithm to correctly determine 
				  the class labels for unseen instances. This requires the learning algorithm to generalize from the training data
				   to unseen situations in a "reasonable" way.</br></br>
				  Active learning Instead of assuming that all of the training examples are given at the start, 
				  active learning algorithms interactively collect new examples, typically by making queries to a human user. 
				  Often, the queries are based on unlabeled data, which is a scenario that combines semi-supervised learning with 
				  active learning.
				  <br/><br/>
  			</font>
  		</p>
  		
  	</div>
  </div>
  
  <h6>This system was developed by the EUBRA-BIGSEA team from UFMG.</h6></br>

{% endblock %}